{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-3">Add Slots Value</h1>
        <h2>Frame: {{ frame.frame_name }}</h2>
        <form method="POST" >
            {% csrf_token %}
            {% for slot in slots %}
            <div class="form-group mt-3">
                <label class="form-label" for="slot_value_{{ slot.id }}">{{ slot.slot_name|upper }}:</label>
                <input type="text" class="form-control" id="slot_value_{{ slot.id }}" name="slot_value_{{ slot.id }}">
            </div>
            {% endfor %}
            <div class="form-group mt-3">
                <input type="submit" class="btn btn-primary" value="Add Slots Value ">
            </div>
        </form>
    </div>
{% endblock %}