{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-3">Добавить  значений слотов</h1>
        <h2>Фрейм: {{ frame.frame_name }}</h2>
        <form method="POST" >
            {% csrf_token %}
            {% for slot in slots %}
            <div class="form-group mt-3">
                <label class="form-label" for="slot_value_{{ slot.id }}">{{ slot.slot_name|upper }}:</label>
                <input type="text" class="form-control" id="slot_value_{{ slot.id }}" name="slot_value_{{ slot.id }}" value="{% for example in examples %}{% if example.slot == slot and example.frame == frame %}{{ example.slot_value.value_name }}{% endif %}{% endfor %}">

            </div>
            {% endfor %}
            <div class="form-group mt-3">
                <input type="submit" class="btn btn-primary" value="Ок">
            </div>
        </form>
    </div>
{% endblock %}
