{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post">
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit" name="start">Start</button>
                </div>
                </form>
                <br/>
                <div class="card">
                    <div class="card-header">
                        Dialog Chat Bot
                    </div>
                    <div class="card-body">
                            <div class="mt-4">
                                {% if dialogs %}
                                    {% for dialog in dialogs %}
                                    <p class="text-muted"><strong>Assistant:</strong> {{ dialog.slot_name }} {{ dialog.slot_value }}?</p>
                                    <p class="text-primary"><strong>User:</strong> {{ dialog.answer }}</p>
                                    {% endfor %}
                                {% endif %}
                                {% if not result %}
                                    <p class="text-muted"><strong>Assistant:</strong> {{ question }}?</p>
                                    <br/>
                                    <p class="text-muted"><strong>Predicted results:</strong> {{ predicted_results }}?</p>
                                {% else %}
                                    <p class="text-success"><strong>Result:</strong> {{ result }}</p>
                                {% endif %}

                            </div>
                    </div>
                </div>
                <br/>
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <button class="btn btn-success" type="submit" name="answer" value="Yes">Yes</button>
                        <button class="btn btn-danger" type="submit" name="answer" value="No">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


