{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post">
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit" name="start">Начать</button>
                    <button class="btn btn-danger" type="submit" name="reset">Отмена</button>
                </div>

                </form>
                {% if view_question  %}
                <br/>
                <div class="card">
                    <div class="card-header">
                        Синтез ТП
                    </div>
                    <div class="card-body">
                            <div class="mt-4">
                                {% if dialogs %}
                                    {% for dialog in dialogs %}
                                    <p class="text-muted"><strong>Ассистент:</strong> {{ dialog.slot_name }} {{ dialog.slot_value }}?</p>
                                    {% if dialog.answer == 'Yes' %}
                                    <p class="text-primary"><strong class="text-muted">Пользователь:</strong> Да </p>
                                    {% else %}
                                    <p class="text-danger"><strong class="text-muted">Пользователь:</strong> Нет</p>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if not result %}
                                    <p class="text-muted"><strong>Ассистент:</strong> {{ question }}?</p>
                                    <br/>
                                    <p class="text-muted"><strong>Прогнозируемые результаты:</strong> {{ predicted_results }}?</p>
                                {% else %}
                                    <p class="text-success"><strong>Ответ:</strong> {{ result }}</p>
                                {% endif %}

                            </div>
                    </div>
                </div>
                <br/>
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <button class="btn btn-success" type="submit" name="answer" value="Yes">Да</button>
                        <button class="btn btn-danger" type="submit" name="answer" value="No">Нет</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


