{% extends 'base.html' %}
{% block content %}
<h4>Экземпляр</h4>
<div class="card">
  <div class="card-header">
    {{current_frame.frame_name | upper}}
  </div>
  <div class="card-body">
      {% for slot in current_slots %}
        <p class="card-text"><strong>{{ slot.slot_name | upper }} :  {% for example in examples %}{% if example.slot == slot and example.frame == current_frame %}{{ example.slot_value.value_name }}{% endif %}{% endfor %} </strong></p>
      {% endfor %}

  </div>
</div>
<br/>
<br/>
<a href="{% url 'frame'  %} " class="btn btn-secondary">Назад</a>
<a href="{% url 'delete_frame' pk=current_frame.id %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'add_slot_values' frame_id=current_frame.id %}" class="btn btn btn-secondary">Изменить</a>
{% endblock %}