                                                                       {% if user.is_authenticated %}
  {% if user.is_admin %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Админ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users'%}">Аккаунт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'person'%}">Персонал</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Технологический процесс</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Экспертная система
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'frame' %}">Фрейм</a></li>
            <li><a class="dropdown-item" href="{% url 'slot' %}">Слот</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'dialog' %}">Диалог</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% elif user.is_technician%}
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Технолог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Технологический процесс</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Экспертная система
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'frame' %}">Фрейм</a></li>
            <li><a class="dropdown-item" href="{% url 'slot' %}">Слот</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'dialog' %}">Диалог</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% elif user.is_employee %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Рабочий</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Технологический процесс</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Экспертная система
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'frame' %}">Фрейм</a></li>
            <li><a class="dropdown-item" href="{% url 'slot' %}">Слот</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'dialog' %}">Диалог</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% endif %}
  {% endif %}