                                                                       {% if user.is_authenticated %}
  {% if user.is_admin %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home'%}">Person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Option 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Option 3</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% elif user.is_technician%}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Technician</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home'%}">Person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Option 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Option 3</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% elif user.is_employee %}
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home'%}">Person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Option 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Option 3</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% endif %}
  {% endif %}